<!DOCTYPE html>
<html lang="en"
	th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
<title data-th-text="${loginUser.name}+' ' + '| SCM'">Profile
	Page</title>
</head>
<body>
	<div id="content">


		<div th:if="${loginUser}">
			<div th:replace="~{user/sidebar::sidebar}"></div>
		</div>
		<div class="sm:pl-64 pt-20 ">
			<div class="flex justify-center flex-col items-center">
				<h1 class="text-5xl">Welcome Profile Page</h1>
			</div>
		</div>
	</div>

</body>

<script>
	console.log("Profile Page");
</script>
</html>