<!DOCTYPE html>
<html lang="en" th:replace ="~{base::parent(~{::#content},~{::title},~{::script})}">
  <head> 
    <title>Signup Page</title> 
  </head>
  <body>
    <div id="content">  
      <div class="grid grid-cols-12">
        <div class="col-span-4"></div>
        <div class="col-span-4">
          <!-- Card -->      
          <div class="block p-6 borbg-white border border-gray-900 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <!-- Title -->
        <div th:replace="~{message :: messagebox}"> </div>

           
            <h5 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Signup Here</h5>
            
            <!--Form -->
            <form action="/do-register"  data-th-object="${userForm}" method="post" class="mt-5" novalidate>
              <div class="mb-4">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                <input type="text" data-th-field="*{name}" id="name" class="bg-white border border-gray-300 text-gray-900 text-lg rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter here.." required />
              	
              	<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error text-red-600 px-1 py-2"></span>
              	
              
              </div>

              <div class="mb-4">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="email" data-th-field="*{email}" id="email" class="bg-white border border-gray-300 text-gray-900 text-lg rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name@gmail.com" required />
             
             	<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error text-red-600 px-1 py-2"></span>
              	
             	
              </div>

              <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <input type="password" data-th-field="*{password}" id="password" class="bg-white border border-gray-300 text-gray-900 text-lg rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
              
              	<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error text-red-600 px-1 py-2"></span>
              	
              </div>

              <div class="mb-4">
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
                <input type="text" data-th-field="*{phoneNumber}" id="phone" class="bg-white border border-gray-300 text-gray-900 text-lg rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
             
             	<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error text-red-600 px-1 py-2"></span>
              	
              </div>

              <div class="mb-4">
               	<label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write Something About Your Self</label>
				<textarea id="about" rows="4" data-th-field="*{about}" class="block p-3 w-full text-lg text-gray-900 bg-white rounded border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:text-black dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write here..."></textarea>
				
				<span th:if="${#fields.hasErrors('about')}" th:errors="*{about}" class="error text-red-600 px-1 py-2"></span>
              	
			
			</div>
			
			<div class="mb-4 flex justify-center space-x-3">
   				 <button type="submit" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Sign up </button>
   				 <button type="reset" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Reset </button>
			</div>

            </form>    
          </div>    
        </div>
      </div>
    </div>  
  </body>
  
  <script>
    console.log("Signup Page"); 
  </script> 
</html>
